@import url(//db.onlinewebfonts.com/c/90a63ef209560f66225883bfb22a6349?family=QuasimodaW03-Medium);
@import url(//db.onlinewebfonts.com/c/dcc021e05f71df3f145694599f77c0a0?family=QuasimodaW03-Regular);

html {
  scroll-behavior: smooth;
 }
 
 a {
  text-decoration: none;
  color: black;
 } 
 
 #down {
  margin-top: 100%;
  padding-bottom: 25%;
 } 

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}